.field {
    margin-bottom: 25px;
}

.field.required label::after {
    content: "*";
    font-size: 1.1rem;
    position: relative;
    left: 5px;
    top: 2px;
    color: red;
}

.field.full {
    width: 100%;
}

.field.half {
    width: calc(70% - 12px);
}

.payment-type>h4 {
    letter-spacing: 1.5px;
    font-size: 1.5rem;
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 8px;
}

.input-checkout {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #dedfe0;
    display: block;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.input-checkout::placeholder {
    color: #dbdddf !important;
}

.card {
    padding: 50px;
    margin: 50px auto;
    max-width: 850px;
    background: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0px 24px 60px -1px rgba(37, 44, 54, 0.14);
}

.card .container {
    max-width: 700px;
    margin: 0 auto;
}

.card .card-title {
    margin-bottom: 50px;
}

.card .card-title h2 {
    margin: 0;
}

.card .card-body .payment-type,
.card .card-body .payment-info {
    margin-bottom: 25px;
}

.payment-type h4 {
    margin: 0;
}

.payment-btn {
    border: 3px solid rgba(0,0,0,0.6);
    transition: .2s;
}

.payment-btn.selected {
    border: 3px solid rgb(34 197 94);
}

/* .payment-btn.selected:hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
} */

.payment-info .column {
    width: calc(50% - 25px);
}

.payment-info .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.payment-info .title .num {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid #40b3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 12px;
    font-size: 12px;
}

.button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    padding: 12px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s ease;
    background: transparent;
    border: 2px solid transparent;
}

.button.button-primary {
    background: #40b3ff;
    color: #fff;
}

.button.button-primary:hover {
    background: #22a2f8;
}

.button.button-secondary {
    background: transparent;
    border-color: #e8ebed;
    color: #8a959c;
}

.button.button-secondary:hover {
    border-color: #28333b;
    color: #28333b;
}
